* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

input {
  border: 0;
  outline: none;
}

img {
  display: block;
  vertical-align: top;
}

html,
body {
  height: 100%;
}

body {
  font-size: 14px;
  max-width: 750px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.clearfix {
  zoom: 1;
}

.container {
  display: flex;
  flex-direction: column;
}
.container .header {
  background-color: #ff841d;
  height: 1.3333333333rem;
  padding: 0rem 0.2666666667rem;
  display: flex;
  justify-content: space-between;
}
.container .header .log {
  height: 100%;
  flex: 1;
  background: url("../images/log.png") no-repeat left center/auto 0.6666666667rem;
}
.container .header .appdown {
  width: 1.3333333333rem;
  height: 1.3333333333rem;
  background: url("../images/appdown.png") no-repeat center center/0.9066666667rem auto;
}
.container .main {
  flex: 1;
}
.container .footer {
  height: 2.6666666667rem;
  background-color: #efefef;
}
.container .footer .top {
  height: 1.0666666667rem;
  display: flex;
}
.container .footer .top a {
  width: 33.3333%;
  height: 100%;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5a5a5a;
}
.container .footer .top a:nth-child(1) {
  border-left: 0;
  border-right: 0;
}
.container .footer .top a:nth-child(3) {
  border-right: 0;
  border-left: 0;
}
.container .footer .top .gotop {
  display: flex;
  align-items: center;
}
.container .footer .top .gotop img {
  width: 0.4rem;
  height: 0.4rem;
  margin-right: 0.1333333333rem;
  position: relative;
  bottom: 1px;
}
.container .footer .bottom {
  height: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
}
.container .footer .bottom p {
  text-align: center;
}
.container .footer .bottom p a {
  color: #f00;
}
.container .footer .bottom p span {
  color: #5a5a5a;
}
.container .footer .bottom span {
  text-align: center;
  color: #666;
}

body {
  background-color: #ffffff;
}

.back {
  background-color: #f2f2f2;
}

.container {
  padding: 0rem;
}
.container #group {
  padding: 0.4rem;
}
.container #group input {
  border-radius: 0rem;
}
.container #group .btn {
  width: 100%;
  background-color: #ffa127;
  border-radius: 0.2133333333rem;
  font-size: 0.64rem;
  color: #ffffff;
}
.container .zhaohui {
  height: 3.4666666667rem;
  color: #8895b3;
  padding-left: 0.5333333333rem;
  line-height: 4rem;
  margin-top: -0.0266666667rem;
}

.main .searchbar {
  display: flex;
  align-items: center;
  height: 1.3333333333rem;
  border-bottom: 0.0266666667rem solid #e6e6e6;
  border-top: 0.0266666667rem solid #e6e6e6;
}
.main .searchbar input, .main .searchbar button {
  height: 0.8rem;
  margin: 0.2666666667rem 0.2666666667rem;
  border-radius: 0.2666666667rem;
}
.main .searchbar button {
  margin-left: -0.5333333333rem;
}

.container {
  position: relative;
}
.container .Fixed-layer {
  position: absolute;
  right: 0rem;
  bottom: 1.6rem;
  z-index: 999;
  position: fixed;
}
.container .Fixed-layer img {
  height: 1.8933333333rem;
  width: 1.7066666667rem;
}
.container .back-top {
  position: absolute;
  right: 0rem;
  bottom: 0.2666666667rem;
  z-index: 999;
  position: fixed;
  height: 1.1733333333rem;
  width: 1.1733333333rem;
  background-color: #fdfdfd;
  right: 0.2666666667rem;
  border-radius: 0.5866666667rem;
}
.container .back-top img {
  margin: 0.1333333333rem;
  height: 0.88rem;
  width: 0.88rem;
}
.container .kong {
  height: 3.7333333333rem;
  width: 100%;
}
.container .xiazai {
  width: 100%;
  height: 1.6rem;
  bottom: 0rem;
  position: absolute;
  z-index: 999;
  position: fixed;
  background-color: #ffffff;
}
.container .xiazai .left {
  float: left;
}
.container .xiazai .left .mui-icon {
  float: left;
  margin: 0.4rem 0.2666666667rem;
  height: 0.8rem;
  width: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  background-color: #c8c8da;
  border-radius: 0.4rem;
}
.container .xiazai .left img {
  height: 1.0666666667rem;
  width: 1.0666666667rem;
  float: left;
  margin: 0.2666666667rem;
}
.container .xiazai .left .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.2666666667rem 0.2666666667rem;
}
.container .xiazai .left .right .shang {
  font-size: 0.5333333333rem;
}
.container .xiazai .btn {
  float: right;
  margin-top: 0.4rem;
  margin-right: 0.1333333333rem;
  background-color: #ffa127;
  border-radius: 0.2133333333rem;
  color: #e6e6e6;
}

/*# sourceMappingURL=login.css.map */
